
# secrets
*.user
.cache/
.env
.env.*
.flatpak-builder/
.flatpak/
build-*/
build-appimage/
build-flatpak/
build-windows/
build/
builddir/
data-local/
dist/
eu.oh2gba.otd.local.yml
private/
repo-flatpak/
repo/
run.sh
